:root {
    background-color: #181818;
}

#popupContainer {
    display: none;
    position: fixed;
    width: 100%;
    right: -50%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.popup {
    position: absolute;
    transform: translate(-50%, 10%);
    width: 450px;
    background-color: #fff;
    border-radius: 3px;
    text-align: center;
    padding: 1rem;
    font-size: .95rem;
}

.popup p:first-of-type {
    padding-bottom: 8px;
    border-bottom: 1px solid lightgray;
}

.popup button {
    padding: .2rem .3rem;
    margin: 0 .1rem;
    transition: .3s;
    border: 2px solid lightgray;
    color: gray;
    background-color: lightgray;
}

.popup button:first-of-type {
    color: black;
}

.popup button:hover {
    transition: .3s;
    color: black;
    border-color: gray;
}